<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QRest | Recibo</title>
    <link rel="icon" href="{{ url_for('static', path='/img/icon.png') }}" type="image/icon type">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/body.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/bulma.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/form.css') }}">
    <script src="{{ url_for('static', path='/js/bulmajs-0.10.4/bulma.js') }}"></script>
    {% if individual and not client %}
    <script type="module">
        import { ClientController } from '{{ url_for('static', path='/js/client/controller.js') }}';
        import { redirect} from '{{ url_for('static', path='/js/utils/redirect.js') }}';
        console.log("Hey")
        var redirect_to_individual = function (client) {
            redirect("/mesa/{{ order_id }}/recibo/individual?cliente=" + client);
        }
        var client_controller = new ClientController("modalCliente", "client", redirect_to_individual);
        window.client_controller = client_controller;
        if (!client_controller.hasClient()){
            client_controller.showModal();
        }
    </script>
    {% endif %}
</head>
<body class="has-navbar-fixed-top has-navbar-fixed-bottom">
<nav class="navbar is-fixed-top has-background-black">
    <div class="columns is-mobile is-vcentered p-2">
        <div class="column is-full">
            <h1 class="title is-size-4 has-text-white ml-3">
                Recibo {{ 'individual' if individual is defined else 'total' }}
            </h1>
        </div>
    </div>
</nav>
<nav class="navbar is-fixed-bottom is-transparent is-block">
    <div class="columns is-multiline p-5">
        {% if individual is defined %}
        <div class="column is-full p-0 pt-2">
            <a class="button is-fullwidth is-black" href="/mesa/{{ order_id }}/por_pagar/individual{{ '?cliente=' + client if client }}">
                <p class="is-size-5">Ver pendiente de pago</p>
            </a>
        </div>
        {% else %}
        <div class="column is-full p-0">
            <a class="button is-fullwidth is-black" href="/mesa/{{ order_id }}/por_pagar/total{{ '?cliente=' + client if client }}">
                <p class="is-size-5">Ver pendiente de pago</p>
            </a>
        </div>
        {% endif %}
        {% if individual is defined %}
        <div class="column is-full p-0 pt-2">
            <a class="button is-fullwidth" href="/mesa/{{ order_id }}/recibo/total{{ '?cliente=' + client if client }}">
                <p class="is-size-5">Ver recibo total</p>
            </a>
        </div>
        {% else %}
        <div class="column is-full p-0 pt-2">
            <a class="button is-fullwidth" href="/mesa/{{ order_id }}/recibo/individual{{ '?cliente=' + client if client }}">
                <p class="is-size-5">Ver recibo individual</p>
            </a>
        </div>
        {% endif %}
    </div>
</nav>
<main>
    <ol id="elements">
        {% for element in elements %}
        <li id="elementId" class="columns is-multiline m-0 is-mobile is-vcentered">
            <div class="column is-narrow">
                <figure class="image image is-64x64">
                    <img class="has-rounded-border"
                         src="{{ element.image if element.image is defined else 'https://bulma.io/images/placeholders/64x64.png' }}"/>
                </figure>
            </div>
            <div class="column">
                <p class="title is-size-5 m-0 is-underlined is-word-unbreakable has-text-centered">
                    {{ element.element }}
                </p>
                <div class="columns is-multiline m-0 is-mobile is-vcentered is-centered">
                    {% if element.variants is defined %}
                        <div class="column is-narrow">
                            {% for variant in element.variants %}
                                <p class="subtitle is-size-5 m-0 is-unbreakable">{{ variant.value }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if element.extras is defined %}
                        <div class="column is-narrow">
                            {% for extra in element.extras %}
                                <p class="subtitle is-size-5 m-0 is-unbreakable">+{{ extra }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if element.ingredients is defined %}
                        <div class="column is-narrow">
                            {% for ingredient in element.ingredients %}
                                <p class="subtitle is-size-5 m-0 is-unbreakable">-{{ ingredient }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="column is-narrow">
                <p class="title is-size-5 m-0 is-underlined is-word-unbreakable has-text-right">
                    Cantidad:
                </p>
                <p class="title is-size-5 m-0 is-underlined is-word-unbreakable has-text-right">
                    Precio:
                </p>
                <p class="title is-size-5 m-0 is-underlined is-word-unbreakable has-text-right">
                    Total:
                </p>
            </div>
            <div class="column is-narrow">
                <p class="subtitle is-size-5 m-0 is-word-unbreakable has-text-left">
                    {{ element.quantity }}
                </p>
                <p class="subtitle is-size-5 m-0 is-word-unbreakable has-text-left">
                    {{ element.price }} €
                </p>
                <p class="subtitle is-size-5 m-0 is-word-unbreakable has-text-left">
                    {{ element.total }} €
                </p>
            </div>
        </li>
        <hr class="m-2"/>
        {% endfor %}
    </ol>
</main>
<div id="modalCliente" class="modal is-active is-hidden p-4">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Nombre de Cliente</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <p class="is-size-5 m-0">Introduce el nombre con el que quieres hacer los pedidos:</p>
            <input id="client" class="input is-medium" type="text" placeholder="Nombre">
        </section>
        <footer class="modal-card-foot">
             <button class="button is-success is-fullwidth" onclick=client_controller.setClientFromModal()>Guardar</button>
        </footer>
    </div>
</div>
</body>
{% if error is defined and error is not none %}
<script type="module">
    import { showError } from '{{ url_for('static', path='/js/utils/errorHandler.js') }}';
    showError("{{ error }}");
</script>
{% endif %}
{% if message is defined and message is not none %}
<script type="module">
    import { showMessage } from '{{ url_for('static', path='/js/utils/errorHandler.js') }}';
    showMessage("{{ message }}");
</script>
{% endif %}
</html>